@model IEnumerable<QuickBasket.Models.User>

@{
    ViewBag.Title = "UsersIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #tab{
        border-color:crimson;

    }
    th{
     
        color:darkblue;
    }
</style>
<h2>Users Details</h2>

<table class="table table-bordered" id="tab">
    <tr>
        <th>
UserName       
        </th>
        <th>
Password        </th>
        <th>
Email        </th>
        <th>
Phone        </th>
        <th>
Modified Date        </th>
        <th>
Role         </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleName)
        </td>
        <td>
            <a href="@Url.Action("Edit" ,new {id=item.userid})"><i class="fa-regular fa-pen-to-square" style="color: #5cb85c;"></i></a>
            <a href="@Url.Action("Details" ,new {id=item.userid})">  <i class="fa-solid fa-circle-info fa-lg"  style="color: #eae206;"></i></a>
            <a href="@Url.Action("Delete" ,new {id=item.userid})">
                <i class="fa-solid fa-trash fa-lg" style="color: #d9534f;"></i>
            </a>

        </td>
    </tr>
}

</table>
