@model IEnumerable<QuickBasket.Models.Fruit>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<style>
    #card-img {
        height: 210px;
        width: contain;
    }
</style>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
<div class="col-md-3 mb-4 ">
    <div class="card">
        <img src="data:image;base64,@Convert.ToBase64String(item.image)" class="card-img-top" alt="Vegetable Image" id="card-img">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.name)</h5>
            <p class="card-text">
                Original Cost: @Html.DisplayFor(modelItem => item.originalcost)
                <br>
                Retail Price: @Html.DisplayFor(modelItem => item.retailprice)
                <br>
                Stock: @Html.DisplayFor(modelItem => item.stock) KG
                <br>
                Offer: @Html.DisplayFor(modelItem => item.offer)
                <br>
                Category: @Html.DisplayFor(modelItem => item.category)
            </p>
            <div class="text-center">
                @Html.ActionLink("Edit", "Edit", new { id = item.fid }, new { @class = "btn btn-primary btn-sm" })
                @Html.ActionLink("Details", "Details", new { id = item.fid }, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("Delete", "Delete", new { id = item.fid }, new { @class = "btn btn-danger btn-sm" })
            </div>
        </div>
    </div>
</div>
}
</div>
