
@model QuickBasket.Models.Order

<button id="rzp-button1" hidden>Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
var options = {
    "key":"rzp_test_FM7r7jy6LpI1GA",
    "amount": "@Html.DisplayFor(model => model.Total_amount)",
    "name": "@Html.DisplayFor(model => model.User.email)",
    "image": "~/Content/Images/logo.png",
    "order_id": "@Html.DisplayFor(model => model.RazorpayOrderId)",
    "handler": function (response) {
        console.log("Payment ID:", response.razorpay_payment_id);
        document.getElementById('rzp_paymentid').value = response.razorpay_payment_id;
        document.getElementById('rzp_orderid').value = response.razorpay_order_id;
        document.getElementById('rzp-paymentresponse').click();
    },

    "prefill": {
        "name": "@HttpContext.Current.User.Identity.Name",
        "email": "@Html.DisplayFor(model => model.User.email)",
        "contact": "@Html.DisplayFor(model => model.User.phone)"
    },
    "notes": {
        "address": "@Html.DisplayFor(model => model.address)"
    },
    "theme": {
        "color": "#F37254"
    }
};
var rzp1 = new Razorpay(options);

//<!-- onload function -->
window.onload = function(){
    document.getElementById('rzp-button1').click();
};

document.getElementById('rzp-button1').onclick = function(e){
    rzp1.open();
    e.preventDefault();
}
</script>

@using (Html.BeginForm("PaymentConfirm", "Order", new { RazorpayOrderId = Model.RazorpayOrderId }))
{
    @Html.AntiForgeryToken()

    <input type="hidden" id="rzp_paymentid" name="rzp_paymentid" />
    @Html.Hidden("rzp_orderid")
    <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" hidden>Submit</button>
}
