@model IEnumerable<QuickBasket.Models.Flower>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("back", "Index", "Home", new { @class = "btn btn-dark btn-sm" }, new { @id = "b" })

<style>
    #card-img {
        height: 150px;
        width: contain;
        max-width: 85%;
        align-items: center;
    }

    #c {
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 5px;
    }
</style>
<h2 class="text-center">Flower Varieties</h2>
<p>
    @Html.ActionLink("Create", "Create", new { @class = "btn btn-dark btn-sm" }, new { @id = "c" })
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 mb-4 ">
            <div class="card">
                <img src="data:image;base64,@Convert.ToBase64String(item.image)" class="card-img-top mt-2 ms-4" alt="Vegetable Image" id="card-img">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.name)</h5>
                    <p class="card-text">
                        Original Cost: @Html.DisplayFor(modelItem => item.originalcost)
                        <br>
                        Retail Price: @Html.DisplayFor(modelItem => item.retailprice)
                        <br>
                        Stock: @Html.DisplayFor(modelItem => item.stock) KG
                        <br>
                        Offer: @Html.DisplayFor(modelItem => item.offer)
                        <br>
                        Category: @Html.DisplayFor(modelItem => item.category)
                    </p>
                    <div class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = item.fid }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Details", "Details", new { id = item.fid }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.fid }, new { @class = "btn btn-danger btn-sm" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
